<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Priority track</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/view.css') }}" media="all">
<script type="text/javascript" src="{{ url_for('static', filename='scripts/view.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/calendar.js') }}"></script>
</head>
<body id="main_body" >
	
	<img id="top" src="{{ url_for('static', filename='images/top.png')}}" alt="">
	<div id="form_container">
	
		<h1><a>Priority track</a></h1>
		<form id="form_100728" class="appnitro"  method="post" action="/form2/{{ type }}">
					<div class="form_description">
			<h2>Priority track</h2>
			<p>Create/edit priority entry</p>
		</div>						
			<ul >
			
					<li id="li_5" >
		<label class="description" for="element_5">Playlist  </label>
		<div>
			<input id="element_5" name="element_5" class="element text medium" type="text" maxlength="255" value="{{ playlist }}" readonly/>
		</div><p class="guidelines" id="guide_5"><small>Name of playlist</small></p> 
		</li>		<li id="li_6" >
		<label class="description" for="element_6">Name </label>
		<div>
			{% if namevalue %}
			<input id="element_6" name="element_6" class="element text medium" type="text" maxlength="255" value="{{ namevalue }}" readonly/>
			{% else %}
			<input id="element_6" name="element_6" class="element text medium" type="text" maxlength="255" value=""/>
			{% endif %}
		</div><p class="guidelines" id="guide_6"><small>Name of the track</small></p> 
		</li>		<li id="li_1" >
		<label class="description" for="element_1">Track link  </label>
		<div>
			{% if idvalue %}
			<input id="element_1" name="element_1" class="element text medium" type="text" maxlength="255" value="{{ idvalue }}" readonly/>
			{% else %}
			<input id="element_1" name="element_1" class="element text medium" type="text" maxlength="255" value=""/>
			{% endif %}
		</div><p class="guidelines" id="guide_1"><small>Paste the link to the specific track that must be placed in priority. You can also paste just the ID.  </small></p> 
		</li>		<li id="li_2" >
		<label class="description" for="element_2">Position  </label>
		<div>
			{% if positionvalue %}
			<input id="element_2" name="element_2" class="element text medium" type="text" maxlength="255" value="{{ positionvalue }}"/>
			{% else %}
			<input id="element_2" name="element_2" class="element text medium" type="text" maxlength="255" value=""/>
			{% endif %}
		</div><p class="guidelines" id="guide_2"><small>Enter the position on the playlist the track must be prioritized at</small></p> 
		</li>		<li id="li_3" >
		<label class="description" for="element_3">Start date </label>
		<span>
			{% if start %}
			<input id="element_3_1" name="element_3_1" class="element text" size="2" maxlength="2" value="{{ start.split(':')[0] }}" type="text" readonly> /
			{% else %}
			<input id="element_3_1" name="element_3_1" class="element text" size="2" maxlength="2" value="" type="text"> /
			{% endif %}
			<label for="element_3_1">DD</label>
		</span>
		<span>
			{% if start %}
			<input id="element_3_2" name="element_3_2" class="element text" size="2" maxlength="2" value="{{ start.split(':')[1] }}" type="text" readonly> /
			{% else %}
			<input id="element_3_2" name="element_3_2" class="element text" size="2" maxlength="2" value="" type="text"> /
			{% endif %}
			<label for="element_3_2">MM</label>
		</span>
		<span>
	 		{% if start %}
			<input id="element_3_3" name="element_3_3" class="element text" size="4" maxlength="4" value="{{ start.split(':')[2] }}" type="text" readonly> /
			{% else %}
			<input id="element_3_3" name="element_3_3" class="element text" size="4" maxlength="4" value="" type="text"> /
			{% endif %}
			<label for="element_3_3">YYYY</label>
		</span>
	
		<span id="calendar_3">
			<img id="cal_img_3" class="datepicker" src="{{ url_for('static', filename='images/calendar.gif') }}" alt="Pick a date.">
		</span>
		<script type="text/javascript">
			Calendar.setup({
			inputField	 : "element_3_3",
			baseField    : "element_3",
			displayArea  : "calendar_3",
			button		 : "cal_img_3",
			ifFormat	 : "%B %e, %Y",
			onSelect	 : selectEuropeDate
			});
		</script>
		<p class="guidelines" id="guide_3"><small>Enter the start date when this track must go on priority</small></p> 
		</li>		<li id="li_4" >
		<label class="description" for="element_4">End date  </label>
		<span>
			{% if end %}
			<input id="element_4_1" name="element_4_1" class="element text" size="2" maxlength="2" value="{{ end.split(':')[0] }}" type="text"> /
			{% else %}
			<input id="element_4_1" name="element_4_1" class="element text" size="2" maxlength="2" value="" type="text"> /
			{% endif %}
			<label for="element_4_1">DD</label>
		</span>
		<span>
			{% if end %}
			<input id="element_4_2" name="element_4_2" class="element text" size="2" maxlength="2" value="{{ end.split(':')[1] }}" type="text"> /
			{% else %}
			<input id="element_4_2" name="element_4_2" class="element text" size="2" maxlength="2" value="" type="text"> /
			{% endif %}
			<label for="element_4_2">MM</label>
		</span>
		<span>
	 		{% if end %}
			<input id="element_4_3" name="element_4_3" class="element text" size="4" maxlength="4" value="{{ end.split(':')[2] }}" type="text">
			{% else %}
			<input id="element_4_3" name="element_4_3" class="element text" size="4" maxlength="4" value="" type="text">
			{% endif %}
			<label for="element_4_3">YYYY</label>
		</span>
	
		<span id="calendar_4">
			<img id="cal_img_4" class="datepicker" src="{{ url_for('static', filename='images/calendar.gif') }}" alt="Pick a date.">
		</span>
		<script type="text/javascript">
			Calendar.setup({
			inputField	 : "element_4_3",
			baseField    : "element_4",
			displayArea  : "calendar_4",
			button		 : "cal_img_4",
			ifFormat	 : "%B %e, %Y",
			onSelect	 : selectEuropeDate
			});
		</script>
		<p class="guidelines" id="guide_4"><small>Enter the date limit for the priority status of the track</small></p> 
		</li>
			
					<li class="buttons">
			    <input type="hidden" name="form_id" value="100728" />
			    
				<input id="saveForm" class="button_text" type="submit" name="submit" value="Submit" />
				<button class="control_buttons" type="button" onclick="window.location.href = '{{ url_for('index') }}';">Cancel</button>
		</li>
			</ul>
		</form>
	</div>
	<img id="bottom" src="{{ url_for('static', filename='images/bottom.png') }}" alt="">
	</body>
</html>